<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="section1">
<img src="static/images/navi 2.jpeg">/

    <hr>

            <img src="static/images/location.jfif" id="image2" alt="Location Image">
     <div class="image-text-container">
            <h4>Karuvath house<br>
            Varavoor p o<br>
            Thrissur
        </h4><br>
     </div>

    <img src="static/images/phone.jfif" id="image3" alt="Phone Image">
    <div class="image-text-container2">
    <h4 id="text1">9645403328</h4>
</div>
 <img src="static/images/email.jfif" id="image4" alt="Phone Image">
    <div class="image-text-container3">
    <h4 id="text2">navibalan@gmail.com</h4>
</div>
    <div class="education">
    <h2 id="head1">Education</h2><hr>
    <h4>BTech Electronics and Communication Engineering</h4>
    <p>6.96 CGPA</br>2011-2014</p>

    <h4>Diploma Electronics and Communication Engineering</h4>
    <p>76%<br>2008-2011</p>
        </div>
     <h2 id="head4">Skills</h2><hr>
    <p class="education">Python Programming
Language<br>
Django Framework<br>
CSS<br>
HTML<br>
Bootstrap<br>
SQL<br>
REST API<br>
GitHub<br>
Teaching</p>



    <div class="name">
    <h1 id="head2">    NAVEETHA PB</h1><br>
        <h4 id="head3">Python Django Fullstack Developer</h4>

    </div>

 <h1 class="experience">Experience</h1>
<hr id="hor1">

<div class="exp">
    <p>Python Django fullstack Developer Intern<br>
  Luminar Technolab
        <span>  2023 Auguest-2024 April</span><br></p>
    </div>

<div class="exp2">
    <p>Online Tutor<br>

  <span>  2016-Present</span><br>
    </div>
    <div class="exp3">
    <p>Electronics Instructor<br>
        Good Shepherd PVT ITI

        <span>  2014-2016</span><br></p>
    </div>

<h1 class="experience">Certifications</h1>
<hr id="hor3">

<div class="exp">
    <h4>National Council for Technology and Training</h4>
    <p>Python Web Development Expert Certificate with A+ grade
       </p>
    </div>

<div class="exp3">
    <h4>Udemy Certificate of Completion</h4>
    <p id="para">The Complete Python Bootcamp from zero to hero
instuctors Jose Portilla,Pierien Training<br>


    </div>
    <h1 class="experience">Projects</h1>
<hr id="hor4">
<div class="exp3">
    <h4>Job portal Website using Django Rest Framework
</h4>
    <p id="para3">.user authentication using JWT token
Backend developed using Rest API
        Frontend developed using HTML,CSS,Bootstrap,Java Script<br></p>
    </div>
<div class="exp3">
    <h4>E-Commerce Website</h4>
    <p id="para4">Developed a website for fashion using Django Frame work<br></p>

    </div>
<h1 class="exp3">Personal Social Media</h1>
<hr id="hor5">
    <div class="exp3">
    <h4></h4>
    <p id="para5">Linkedin-www.linkedin.com/in/naveetha-p-b-21543b24b<br>
       GitHub- https://github.com/naveethabalan/<br></p><br></p>

    </div>









</div>



</body>
</html>